
/frontend/.next/
/frontend/out/
/frontend/node_modules/

.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-error.log*


.DS_Store

/backend/venv/

/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd

/backend/.Python
/backend/pip-log.txt
/backend/pip-delete-this-directory.txt
/backend/.pytest_cache/
/backend/.mypy_cache/
/backend/.ipynb_checkpoints
